.header__dropdown {
  grid-column: 1 / 2;
  align-self: center;
  display: flex;
  align-items: center;
  gap: 20px;
}

.header__dropdown-icon {
  font-size: 2.2rem;
  color: white;
}

@media screen and (min-width: 901px) {
  .header__dropdown {
    display: none;
  }
}
