.header__menu-items {
  display: flex;
  align-items: center;
  gap: 3rem;
  position: relative;
}

.header__menu-item {
  position: relative;
  padding: 0.5rem 0;
  list-style: none;
}

.header__menu-link:link,
.header__menu-link:visited {
  text-decoration: none;
  color: white;
  font-size: 2rem;
}

.header__menu-item:hover > .header__menu-container-extras {
  display: block;
}

/* Account menu */
.account {
  position: relative;
}

.account i {
  font-size: 2.4rem;
  cursor: pointer;
}

.account__menu {
  background-color: var(--bg-account-menu);
  width: max-content;
  position: absolute;
  border-radius: 3px;
  top: 120%;
  right: 3px;
  z-index: 99;
}

.account__menu::after {
  content: '';
  position: absolute;
  bottom: 99%;
  right: 0;
  border-width: 10px;
  border-style: solid;
  border-color: transparent transparent var(--border-color-account-menu)
    transparent;
}

.account__ul {
  list-style: none;
  font-size: 1.7rem;
  padding: 5px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.35);
}

.hidden {
  display: none;
}

@media only screen and (max-width: 850px) {
  /* Account menu */
  .account__menu {
    right: 0;
    left: 50%;
    transform: translateX(-50%);
  }

  .account__menu::after {
    bottom: 99%;
    right: 50%;
    transform: translateX(50%);
  }
}
