.header-search__hint {
  border-bottom: 1px solid var(--hints-border-color);
  padding: 5px var(--padding-sides-main);
  cursor: pointer;
}

.header-search__hint:hover {
  background-color: var(--main-bg-hints);
}

.header-search__anchor {
  display: flex;
  align-items: center;
  margin: 0 auto;
  max-width: var(--container-max-width);
  color: var(--text-color-hints);
  text-decoration: none;
}

.header-search__icon--hint {
  font-size: 1rem;
  margin-right: 8px;
}

.header-search__hint-name {
  font-weight: 400;
}
