.header__details {
  display: flex;
  flex-direction: column;
  gap: 25px;
  justify-content: center;
}

.header__title h2 {
  font-size: 3.2rem;
  font-weight: 500;
}

.header__facts {
  display: flex;
  gap: 20px;
  text-align: center;
}

.header__genres {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  column-gap: 7px;
}

.header__actions {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header__user-score {
  display: flex;
  align-items: center;
  gap: 5px;
}

.header__score {
  background-color: var(--main-bg-movie-score);
  height: 75px;
  width: 75px;
  border-radius: 50%;
  position: relative;
}

.header__score span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 3.5rem;
  font-weight: 500;
}

.header__user {
  width: min-content;
  text-align: center;
  font-weight: 500;
}

.header__buttons {
  margin-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 25px;
}

.header__button {
  height: 45px;
  width: 45px;
  border-radius: 50%;
  cursor: pointer;
  position: relative;
  border: none;
  background-color: var(--main-bg-button-movie);
}

.header__button i {
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: var(--main-text-color-light);
}

.header__button .icon__favorite {
  color: red;
}

.header__tooltip {
  position: absolute;
  top: 120%;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1.5rem;
  width: max-content;
  color: var(--main-text-color-light);
  background-color: var(--main-bg-button-movie);
  padding: 5px 10px;
  border-radius: 5px;
  display: none;
}

.header__tooltip::after {
  content: '';
  position: absolute;
  top: -15px;
  left: 50%;
  margin-left: -9px;
  border-width: 8px;
  border-style: solid;
  border-color: transparent transparent var(--main-bg-button-movie) transparent;
}

.header__button:hover .header__tooltip {
  display: block;
}

.header__tagline {
  margin-bottom: 10px;
  font-style: italic;
  font-weight: 500;
  font-size: 1.8rem;
}

.header__overview h3 {
  margin-bottom: 5px;
  font-size: 2rem;
}

.header__overview p {
  font-size: 1.7rem;
  text-align: justify;
}

.creator {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 50rem;
  gap: 40px;
}

.creator__person h3 {
  font-size: 1.9rem;
  text-align: center;
}

.creator__person h4 {
  font-size: 1.5rem;
  font-weight: 400;
  text-align: center;
}
