.card__circle {
  position: absolute;
  top: 10px;
  right: 10px;
  height: 3rem;
  width: 3rem;
  z-index: 99;
  border-radius: 50%;
  background-color: var(--main-bg-button-circle);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.5);
  cursor: pointer;
  transition: background 0.1s ease-in-out;
}

.card__circle:hover {
  background-color: var(--main-bg-button-circle-hover);
}

.card__button {
  width: 100%;
  height: 100%;
  background: none;
  outline: none;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2px;
  cursor: pointer;
}

.card__dot {
  font-size: 5px;
  color: white;
  cursor: pointer;
}
