.card {
  max-width: min-content;
  position: relative;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.card__image {
  height: var(--card-movie-height);
  width: var(--card-movie-width);
  border-radius: var(--card-border-radius);
  overflow: hidden;
  cursor: pointer;
}

.card__image img {
  display: inline-block;
  height: 100%;
}

.card__image-anchor {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.card__content {
  position: relative;
  padding-top: 2.5rem;
}

.card__score {
  position: absolute;
  top: -20px;
  left: 10px;
  background-color: var(--main-bg-score);
  padding: 10px;
  border-radius: 50%;
  color: white;
  height: 4rem;
  width: 4.2rem;
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card__title-anchor:link,
.card__title-anchor:visited {
  text-decoration: none;
  color: var(--main-text-color-light);
}

.card__title-anchor:hover {
  color: var(--card-text-hover);
}

.card__date {
  filter: brightness(94%);
  font-size: 1.4rem;
  margin-top: 2px;
}

.card__login:link,
.card__login:visited {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
  cursor: pointer;
  margin: auto;
  background-color: var(--main-bg-button-circle);
  text-decoration: none;
  padding: 5px 10px;
  color: white;
  box-shadow: 1px 2px 10px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.card__login:hover {
  box-shadow: 1px 2px 10px rgba(255, 255, 255, 0.1);
}

.card__buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.button {
  background: none;
  border: none;
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  color: var(--main-text-color-light);
}

.button__icon {
  height: 3.5rem;
  width: 3.5rem;
  border-radius: 50%;
  position: relative;
  border: none;
  background-color: var(--main-bg-button-movie);
}

.button__icon i {
  font-size: 1.4rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button__icon .icon__favorite {
  color: red;
}

.button__name {
  font-size: 1.5rem;
}
