.selected {
  width: 100%;
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;

  @media screen and (max-width: 900px) {
    &::after {
      content: '';
      background-image: url(/src/img/circle-down.png);
      background-size: cover;
      height: 1.5rem;
      width: 1.5rem;
    }
  }

  div {
    background-color: black;
    position: absolute;
    top: -1;
    left: 0;
    border-radius: 30px;
    height: 106%;
    width: 102%;
    z-index: -1;
  }
}

.hidden {
  display: none;
}

.mobile-active {
  left: 0 !important;
}

.u-margin-top-big {
  margin-top: 3rem;
}
