.upcoming {
  background-color: red;
  max-width: var(--page-max-width);
  margin: 80px auto;
  background-position: center;
  background-size: cover;
  border-radius: 3px;
}

.upcoming__overlay {
  padding: 2rem 0 2rem 0;
  backdrop-filter: contrast(70%) saturate(50%);
}

.upcoming h3 {
  padding-left: var(--padding-left-side-main);
  font-size: 2.2rem;
  margin-bottom: 15px;
}

.upcoming__cards {
  display: flex;
  gap: 30px;
  overflow-x: scroll;
  padding: 10px 0;
}

.upcoming__cards::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

.upcoming__cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  background: var(--main-bg-upcoming-scrollbar);
}

.upcoming__card:link,
.upcoming__card:visited {
  flex: 0 0 350px;
  cursor: pointer;
  text-decoration: none;
  color: inherit;
}

.upcoming__card:first-child {
  margin-left: var(--padding-left-side-main);
}

.upcoming__backdrop {
  position: relative;
}

.upcoming__image {
  aspect-ratio: 16 / 9;
  display: block;
  width: 100%;
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--upcoming-card-box-shadow);
}

.upcoming__card:hover .upcoming__image {
  box-shadow: 0px 0px 7px rgb(255, 255, 255);
}

.upcoming__media {
  position: absolute;
  bottom: 5px;
  left: 10px;
  text-align: center;
}

.upcoming__icon {
  font-size: 25px;
}

.upcoming__type {
  font-size: 8px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.5px;
}

.upcoming__title {
  font-size: 1.8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 10px;
  transition: all 0.2s ease-in-out;
}

.upcoming__date {
  text-align: center;
  font-size: 1.3rem;
  filter: brightness(94%);
  transition: font-size 0.2s ease-in-out;
}

@media screen and (max-width: 950px) {
  .upcoming__card:link,
  .upcoming__card:visited {
    flex: 0 0 300px;
  }
}

@media screen and (max-width: 790px) {
  .upcoming__card:link,
  .upcoming__card:visited {
    flex: 0 0 280px;
  }

  .upcoming__title {
    font-size: 1.8rem;
  }

  .upcoming__date {
    font-size: 1.2rem;
  }
}

@media screen and (max-width: 400px) {
  .upcoming__card:link,
  .upcoming__card:visited {
    flex: 0 0 240px;
  }

  .upcoming__icon {
    font-size: 18px;
  }

  .upcoming__type {
    font-size: 6px;
    letter-spacing: 1px;
  }
}
