.selector {
  display: flex;
  align-items: center;
  gap: 20px;
}

.selector__container {
  display: flex;
  align-items: center;
}

.selector__description {
  font-size: 2.2rem;
  letter-spacing: 1px;
}

.selector__wrapper {
  position: relative;
  max-width: 100%;
  height: 3rem;
  margin-left: 1rem;
}

.selector__items {
  list-style: none;
  border: 1px solid var(--main-text-color-light);
  border-radius: 30px;
  display: flex;
}

.selector__item {
  position: relative;
  padding: 5px 15px;
  cursor: pointer;
}
