.production {
  margin-top: 1.5rem;
  text-align: center;
}

.production__companies {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  align-items: center;
}

.production__company img {
  width: var(--company-image-width);
  max-height: var(--company-image-max-height);
  filter: invert();
}

.production__company h3 {
  margin-top: 7px;
  font-size: 1.3rem;
  letter-spacing: 1px;
  font-weight: 400;
}

.production__company h4 {
  font-size: 1.1rem;
  font-style: italic;
}

@media screen and (max-width: 700px) {
  .production__companies {
    gap: 30px;
  }

  .production__company img {
    width: 120px;
    max-height: 120px;
  }

  .production__company h4 {
    font-size: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .production__companies {
    gap: 25px;
  }

  .production__company img {
    width: 100px;
    max-height: 100px;
  }

  .production__company h3 {
    font-size: 1.2rem;
  }
}
