/* Tooltip for check password  */
.tooltip {
  position: absolute;
  bottom: 100%;
  left: 5px;
  max-width: 90%;
  color: white;
  background-color: var(--bg-tooltip);
  padding: 6px 12px;
  border-radius: 5px;
  z-index: 999;
}

.tooltip::after {
  content: '';
  position: absolute;
  bottom: -14px;
  left: 9px;
  margin-left: -9px;
  border-width: 8px;
  border-style: solid;
  border-color: var(--bg-tooltip) transparent transparent transparent;
}

.tooltip__description {
  font-size: 1.9rem;
  margin-bottom: 5px;
}

.tooltip__list {
  list-style: none;
  font-size: 1.7rem;
}

.tooltip__li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-left: 20px;
}

.tooltip__li:not(:last-child) {
  margin-bottom: 9px;
}

.tooltip__li i {
  font-size: 2.3rem;
}

.icon__success {
  color: rgb(0, 255, 0);
}

.icon__error {
  color: rgb(255, 0, 0);
}
