.card {
  max-width: min-content;
  position: relative;
  border-radius: var(--card-border-radius);
  overflow: hidden;
}

.card__image {
  height: 220px;
  width: 147px;
  border-radius: var(--card-border-radius);
  overflow: hidden;
  cursor: pointer;
}

.card__image img {
  display: inline-block;
  height: 100%;
}

.card__image-anchor {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.card__content {
  position: relative;
  padding-top: 2.5rem;
}

.card__score {
  position: absolute;
  top: -20px;
  left: 10px;
  background-color: var(--main-bg-score);
  padding: 10px;
  border-radius: 50%;
  color: white;
  height: 4rem;
  width: 4.2rem;
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  font-weight: 700;
}

.card__title-anchor:link,
.card__title-anchor:visited {
  text-decoration: none;
  color: var(--main-text-color-light);
}

.card__title-anchor:hover {
  color: var(--main-text-color-dark);
}

.card__date {
  filter: brightness(94%);
  font-size: 1.4rem;
  margin-top: 2px;
}
