.header-search__content {
  font-size: inherit;
  max-width: var(--container-max-width);
  margin: 0 auto;
  background-color: var(--main-bg-hints);
  padding: 0 var(--padding-sides-main);
  border-bottom: 1px solid var(--main-border-color);
}

.header-search__hints {
  list-style: none;
}
