.header__menu-item {
  position: relative;
  padding: 0.5rem 0;
  list-style: none;
}

.header__menu-title {
  font-size: 1.5rem;
  cursor: pointer;
}

.header__menu-container-extras {
  min-width: max-content;
  background-color: rgb(255, 255, 255);
  color: black;
  font-weight: 400;
  padding: 0.5rem 0;
  border-radius: 3px;
  position: absolute;
  top: 100%;
  left: -1rem;
  display: none;
}

.header__menu-extras {
  list-style: none;
}

.header__menu-item:hover > .header__menu-container-extras {
  display: block;
}

.header__menu-extra:hover {
  cursor: pointer;
  background-color: rgb(237, 237, 237);
}

.header__menu-link:link,
.header__menu-link:visited {
  padding: 1rem 5rem 1rem 2rem;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  color: black;
}
