.header-search__content {
  font-size: inherit;
  background-color: var(--main-bg-hints);
  border-bottom: 1px solid var(--main-border-color);
  color: var(--text-color-hints);
}

.header-search__hints {
  list-style: none;
  max-width: var(--page-max-width);
  margin: auto;
}
