.header {
  &__menu-item {
    position: relative;
    padding: 0.5rem 0;
    list-style: none;
  }

  &__menu-link:link,
  &__menu-link:visited {
    text-decoration: none;
    color: white;
  }

  &__menu-link:link,
  &__menu-link:visited {
    text-decoration: none;
    color: white;
  }

  &__menu-container-extras {
    min-width: max-content;
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: 400;
    padding: 0.5rem 0;
    border-radius: 3px;
    position: absolute;
    top: 100%;
    left: -1rem;
    display: none;
  }

  &__menu-extras {
    list-style: none;
  }

  &__menu-item:hover > &__menu-container-extras {
    display: block;
  }
}
