:root {
  --padding-sides-main: 5rem;
  --padding-left-side-main: var(--padding-sides-main);
  --padding-right-side-main: var(--padding-sides-main);
  --card-border-radius: 8px;

  --font-color-light: white;
  --font-color-dark: black;
  --header-bg-dark: rgb(3, 37, 65);
  --header-bg-light: rgb(255, 255, 255);
  --mobile-menu-bg-dark: rgba(3, 37, 65, 0.9);
  --menu-extras-bg-light: rgb(237, 237, 237);
  --footer-bg-dark: rgb(3, 37, 65);
  --footer-bg-light: rgb(255, 255, 255);
  --light-green: rgb(30, 213, 169);
  --light-blue: rgb(1, 180, 228);
  --selector-bg-green--lighter: rgb(192, 254, 207);
  --selector-bg-green--light: rgb(30, 213, 169);
  --border-bottom-search-light: rgb(220, 220, 220);
  --hints-bg-light: rgb(247, 247, 247);

  --container-max-width: 125rem;

  @media screen and (max-width: 700px) {
    --padding-sides-main: 2rem;
  }

  @media screen and (max-width: 500px) {
    --padding-sides-main: 1.8rem;
  }

  @media screen and (max-width: 400px) {
    --padding-sides-main: 1rem;
  }
}

.header-search {
  &__hint {
    border-bottom: 1px solid var(--border-bottom-search-light);
    color: black;
    padding: 5px var(--padding-sides-main);
    width: 100vw;
    cursor: pointer;

    &:hover {
      background-color: var(--hints-bg-light);
    }
  }

  &__hint-container {
    display: flex;
    align-items: center;
    margin: 0 auto;
    max-width: var(--container-max-width);
  }

  &__hint-name {
    font-weight: 400;
    color: rgb(45, 45, 45);
  }

  &__icon {
    color: black;

    &--hint {
      font-size: 1rem;
      margin-right: 8px;
    }
  }
}
