.margin__top {
  margin-top: 65px;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  /* height: 1000px;
  background-position: center;
  background-size: cover; */
}

.header__overlay {
  /* backdrop-filter: contrast(70%) saturate(50%); */
  height: 100%;
  width: 100%;
}

.credits {
  border: 2px solid var(--border-crew-color);
}

.credits__departments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  list-style: none;
  border-bottom: 2px solid var(--border-crew-color);
  text-align: center;
  overflow-x: auto;
  padding-bottom: 10px;
  background-color: var(--main-bg-crew-card);
}

.credits__departments::-webkit-scrollbar {
  width: 0px;
  height: 5px;
}

.credits__departments::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  background: var(--main-bg-cards-scrollbar);
}

.credits__department {
  padding: 8px 10px;
  margin: 0 5px;
  cursor: pointer;
  flex: 0 0 auto;
}

.credits__crew {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  max-height: 700px;
  overflow-y: auto;
  padding: 0 7px;
}

.credits__crew::-webkit-scrollbar {
  width: 8px;
}

.credits__crew::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 2px 1px 3px black;
  background: var(--main-bg-crew-scrollbar);
}

.selected {
  border-bottom: 5px solid red;
}

.person__anchor:link,
.person__anchor:visited {
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 10px 5px;
  border: 1px solid var(--border-crew-color);
  border-radius: 5px;
  background: var(--main-bg-crew-card);
}

.person__image {
  height: 65px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  display: block;
}

.person__name {
  font-size: 1.4rem;
  font-weight: 800;
  margin-bottom: 2px;
}

.person__character {
  font-size: 1.1rem;
}
