.signin {
  padding-top: 80px;
  position: relative;
}

.signin__title {
  text-align: center;
  margin-bottom: 4rem;
}

.signin__title h2 {
  font-size: 4.5rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.signin__title p {
  font-size: 2.5rem;
  font-style: italic;
}

.signin__social {
  margin-top: var(--page-margin-top);
  display: grid;
  grid-template-columns: 25rem 1fr;
  gap: 20px;
}

.signin__info {
  font-size: 1.7rem;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
  background-color: var(--main-bg-benefits);
}

.signin__benefits {
  font-size: 2.2rem;
  font-weight: 600;
  padding: 20px 15px;
  text-align: center;
  background-color: var(--main-bg-benefits);
}

.signin__list {
  padding: 10px 50px;
  list-style: circle;
  font-size: 1.8rem;
}

.signin__list li {
  margin-bottom: 10px;
}

.form {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 2rem;
}

.form__disabled {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;

  backdrop-filter: blur(100px);
  padding: 10px;
  background-color: rgba(43, 0, 0, 0.7);

  font-size: 4rem;
  font-weight: 600;
  color: white;
  text-align: center;
}

.form__control {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form__input {
  position: relative;
  width: 100%;
}

.form__control input,
.form__input input {
  font-family: inherit;
  font-size: 1.8rem;
  padding: 10px;
  width: 100%;
}

.form__input i {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  color: black;
  cursor: pointer;
  z-index: 999;
}

.form__error {
  font-size: 1.5rem;
  color: red;
}

.form__button {
  font-family: inherit;
  font-size: 2.2rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  box-shadow: 1px 2px 3px rgba(0, 0, 0, 0.2);
  background-color: var(--bg-signin-button);
  color: var(--color-button-login);
  width: 100%;
  margin: 10px auto 0 auto;
  cursor: pointer;
}

.signin__captcha {
  margin: 10px auto 0px auto;
  max-width: fit-content;
}

.home__link:link,
.home__link:visited {
  color: var(--color-button-login);
  font-weight: 700;
  font-size: 1.4rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px 15px;
  display: block;
  text-decoration: none;

  position: absolute;
  top: 0;
  right: 0;
  border: none;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.35);
  background-color: var(--bg-signin-button);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

/* Media queries */
@media screen and (max-width: 700px) {
  .signin__title {
    margin-bottom: 20px;
  }

  .signin__title h2 {
    font-size: 3rem;
  }

  .signin__title p {
    font-size: 1.9rem;
    font-weight: 400;
  }

  .signin__social {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }

  .form__button {
    min-width: 100%;
  }
}

@media screen and (max-width: 550px) {
  .signin__benefits {
    padding: 10px 15px 5px 15px;
  }

  .signin__list {
    padding: 5px 15px;
    list-style-position: inside;
  }
}
