.overlay,
.video {
  position: fixed;
}

.overlay {
  height: 100vh;
  width: 100vw;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 9998;
  backdrop-filter: grayscale() blur(4px);
}

.video {
  width: 90%;
  max-width: 1400px;
  aspect-ratio: 16 / 9;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
}

.video__title {
  font-size: 3.5rem;
  text-align: center;
  margin-bottom: 2rem;
  position: relative;
  padding-right: 6rem;
}

.video__icon {
  font-size: 4rem;
  position: absolute;
  top: 0;
  right: 0;
  cursor: pointer;
}

iframe {
  width: 100%;
  aspect-ratio: 16 / 9;
  border-radius: 5px;
}

@media screen and (max-width: 900px) {
  .video {
    width: 100%;
    padding: 2rem 3rem;
  }
}

@media screen and (max-width: 650px) {
  .video {
    width: 100%;
    padding: 2rem;
  }

  .video h2 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 500px) {
  .video h2 {
    font-size: 2rem;
  }
}
