.person {
  margin-top: var(--page-margin-top);
  padding: 0 var(--padding-sides-main);
}

.person__container {
  max-width: var(--page-max-width);
  margin: 0 auto;
}

.person__header {
  display: flex;
  gap: 30px;
  width: 100%;
}

.person__image {
  height: 500px;
}

.person__image img {
  height: 100%;
  border-radius: 10px;
}

.person__details {
  overflow-x: hidden;
}

.person__name {
  font-size: 4rem;
  margin-bottom: 3rem;
}

.person__section-title {
  font-size: 2.2rem;
  margin-bottom: 5px;
}

.person__biography-text p {
  font-size: 1.7rem;
  line-height: 1.3;
  text-align: justify;
  margin-bottom: 15px;
}

.person__biography-button {
  font-size: 1.5rem;
  padding: 5px 8px;
  background: none;
  color: var(--main-text-color-light);
  display: flex;
  gap: 5px;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--hints-border-color);
  margin-left: auto;
  cursor: pointer;
  box-shadow: 1px 3px 5px var(--button-biography-box-shadow-color);
}

.person__information {
  margin-top: 30px;
}

.person__info {
  display: flex;
  justify-content: space-between;
  gap: 40px;
  text-align: center;
}

.person__known {
  margin-top: 45px;
}

.movie__cards {
  display: flex;
  grid-gap: 20px;
  gap: 20px;
  overflow-x: scroll;
  padding-bottom: 20px;
}

.movie__cards::-webkit-scrollbar {
  width: 0px;
  height: 8px;
}

.movie__cards::-webkit-scrollbar-thumb {
  border-radius: 10px;
  box-shadow: inset 1px 1px 3px rgba(0, 0, 0, 0.3);
  background: var(--main-bg-cards-scrollbar);
}

.movie__card {
  width: min-content;
  flex: 0 0 auto;
  border-radius: 10px;
  overflow: hidden;
}

.movie__card-image img {
  height: 170px;
  border-radius: 10px;
  cursor: pointer;
}

.movie__card-title:link,
.movie__card-title:visited {
  display: block;
  text-decoration: none;
  text-align: center;
  color: var(--main-text-color-light);
  font-size: 1.4rem;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .person__image {
    display: none;
  }

  .person__name {
    text-align: center;
  }
}

@media screen and (max-width: 540px) {
  .person__section-title {
    font-size: 1.8rem;
  }

  .person__biography p {
    font-size: 1.5rem;
  }

  .person__info {
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 13px;
  }

  .person__info-title {
    font-size: 1.5rem;
  }

  .person__info-paragraph {
    font-size: 1.3rem;
  }
}
