.footer {
  padding: 3rem 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* gap: 5rem; */
}

.footer__logo {
  display: inline-block;
  height: 10rem;
}

.footer__img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.footer__copyright {
  text-align: center;
  margin-top: 2rem;
}

.footer__copyright a:link,
.footer__copyright a:visited {
  color: rgb(255, 69, 69);
  text-decoration: none;
  margin: 0 5px;
}

.footer__copyright a:hover {
  color: rgb(255, 125, 125);
}

.github-link {
  font-size: 1.6rem;
}

@media screen and (max-width: 700px) {
  .footer__logo {
    height: 5.5rem;
  }

  .footer__copyright {
    font-size: 1.5rem;
  }
}
