.footer {
  background-color: var(--main-bg-footer);
  padding: 5rem 0;
  color: white;
}

.footer__container {
  display: flex;
  justify-content: center;
  gap: 5rem;
}

.footer__logo {
  display: inline-block;
  height: 10rem;
}

.footer__img {
  display: inline-block;
  height: 100%;
  width: 100%;
}

.footer__title {
  margin-bottom: 0.5rem;
}

.footer__items {
  list-style: none;
}

.footer__item {
  margin-bottom: 0.5rem;
}

.footer__link:link,
.footer__link:visited {
  text-decoration: none;
  color: white;
}

.footer__copyright {
  text-align: center;
  margin-top: 2rem;
}

.footer__copyright a:link,
.footer__copyright a:visited {
  color: rgb(255, 69, 69);
  text-decoration: none;
  margin: 0 5px;
}

.footer__copyright a:hover {
  color: rgb(255, 125, 125);
}

.github-link {
  font-size: 1.6rem;
}

@media screen and (max-width: 900px) {
  .footer__container {
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 2.5rem var(--padding-sides-main);
  }

  .footer__logo {
    display: none;
  }

  .footer__copyright {
    padding: 2.5rem var(--padding-sides-main);
  }
}
