.header {
  background-color: var(--header-bg-dark);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 999;
  transition: all 0.3s ease-in-out;

  &--scroll-down {
    top: -100%;
  }

  &--scroll-up {
    top: 0;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    margin: 0 auto;

    &--big-screen {
      padding: 2rem var(--padding-sides-main);

      @media screen and (max-width: 900px) {
        display: none;
      }
    }

    &--small-screen {
      padding: 1rem var(--padding-sides-main);

      @media screen and (min-width: 901px) {
        display: none;
      }
    }
  }

  &__logo {
    display: inline-block;
    width: 13rem;

    @media screen and (max-width: 900px) {
      width: 5rem;
    }
  }

  &__img {
    height: 100%;
    width: 100%;
  }

  &__menu {
    display: flex;
    align-items: center;
    gap: 3rem;
    position: relative;
  }

  &__menu-left-side {
    display: flex;

    gap: 3rem;
  }

  &__menu-item {
    list-style: none;
    padding: 0.5rem 0;
    position: relative;
  }

  &__menu-item-language {
    border: 1px solid var(--font-color-light);
    border-radius: 5px;
    padding: 5px;

    &:hover {
      background-color: var(--header-bg-light);

      & > * {
        color: var(--header-bg-dark) !important;
      }
    }
  }

  &__menu-link:link,
  &__menu-link:visited {
    text-decoration: none;
    color: var(--font-color-light);
  }

  &__menu-container-extras {
    min-width: max-content;
    background-color: var(--header-bg-light);
    color: var(--font-color-dark);
    font-weight: 400;
    padding: 0.5rem 0;
    border-radius: 3px;
    position: absolute;
    top: 100%;
    left: -1rem;
    display: none;
  }

  &__menu-extras {
    list-style: none;
  }

  &__menu-extra {
    padding: 1rem 5rem 1rem 2rem;

    &:hover {
      cursor: pointer;
      background-color: var(--menu-extras-bg-light);
    }
  }

  &__mobile-icon {
    font-size: 1.6rem;
  }

  &__menu-item:hover > &__menu-container-extras {
    display: block;
  }
}

.icon-search {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &--open {
    font-size: 2rem;
    color: rgb(184, 114, 250);
  }

  &--close {
    font-size: 3rem;
  }
}
