.search {
  padding: 15rem var(--padding-sides-main) 6rem var(--padding-sides-main);
  max-width: var(--page-max-width);
  margin: 0 auto;
  color: white;
}

.search__container {
  margin: 0 auto;
}

.search__title {
  font-size: 7rem;
}

.search__text {
  font-size: 3rem;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.search__form {
  position: relative;
  margin: 5rem 0;
}

.search__input {
  width: 100%;
  height: 4rem;
  padding-left: 1.5rem;
  border-radius: 3px;
  outline: none;
  border: none;
  font-size: 1.6rem;
  color: rgb(112, 112, 112);
}

.search__input:focus {
  outline: none;
  border: none;
}

.search__input::placeholder {
  font-size: 1.5rem;
}

.search__button {
  position: absolute;
  top: 50%;
  right: 0;
  height: 100%;
  transform: translateY(-50%);
  border: none;
  padding: 1rem 2rem;
  color: white;
  font-weight: 700;
  font-size: 1.5rem;
  letter-spacing: 0.5px;
  cursor: pointer;
  background-color: var(--main-bg-button-search);
  /* background: linear-gradient(
    to right,
    var(--main-bg-selector-2) 0%,
    var(--main-bg-selector-1) 100%
  ); */
}

@media screen and (max-width: 900px) {
  .search {
    padding: 10rem var(--padding-sides-main) 0 var(--padding-sides-main);
  }

  .search__title {
    font-size: 6.1rem;
  }

  .search__text {
    font-size: 2.7rem;
  }
}

@media screen and (max-width: 700px) {
  .search {
    padding: 8rem var(--padding-sides-main) 0 var(--padding-sides-main);
  }

  .search__title {
    font-size: 5rem;
  }

  .search__text {
    font-size: 2.2rem;
  }
}
