.collection {
  height: 30rem;
  background-size: cover;
  background-position: 50%;
  border-radius: 10px;
  padding: 5rem 4rem;
}

.collection__title {
  font-size: 3.5rem;
  letter-spacing: 1px;
}

.collection__names {
  font-size: 2.8rem;
}
