.footer {
  background-color: var(--footer-bg-dark);
  padding: 5rem 0;

  &__container {
    display: flex;
    justify-content: center;
    gap: 5rem;

    @media screen and (max-width: 900px) {
      flex-wrap: wrap;
      justify-content: flex-start;
      padding: 2.5rem var(--padding-sides-main);
    }
  }

  &__logo {
    display: inline-block;
    height: 10rem;

    @media screen and (max-width: 900px) {
      display: none;
    }
  }

  &__img {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__title {
    margin-bottom: 0.5rem;
  }

  &__items {
    list-style: none;
  }

  &__item {
    margin-bottom: 0.5rem;
  }

  &__link {
    &:link,
    &:visited {
      text-decoration: none;
      color: white;
    }
  }

  &__copyright {
    text-align: center;
    margin-top: 2rem;

    @media screen and (max-width: 900px) {
      padding: 2.5rem var(--padding-sides-main);
    }

    a:link,
    a:visited {
      color: rgb(255, 69, 69);
      text-decoration: none;
    }

    a:hover {
      color: rgb(255, 125, 125);
    }
  }
}

.github-link {
  font-size: 1.6rem;
}
