@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-size: 62.5%;
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  color: white;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
}

.selected {
  width: 100%;
  background: linear-gradient(to right, #c0fecf 0%, #1ed5a9 100%);
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selected div {
  background-color: black;
  position: absolute;
  top: -1;
  left: 0;
  border-radius: 30px;
  height: 106%;
  width: 102%;
  z-index: -1;
}

.hidden {
  display: none;
}

.mobile-active {
  left: 0 !important;
}

.u-margin-top-big {
  margin-top: 3rem;
}

.fade-out::after {
  opacity: 0;
}
