@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-size: 62.5%;

  /* background */
  --main-bg-image: linear-gradient(90deg, rgb(113, 153, 204), rgb(202, 95, 95));
  --main-bg-scroll: rgb(202, 95, 95);
  --main-bg-header: rgba(255, 255, 255, 0.1);
  --main-bg-mobile-navigation: linear-gradient(
    90deg,
    rgb(115 142 147 / 30%),
    rgb(117 169 179 / 30%)
  );
  --main-bg-score: rgba(114, 130, 165, 0.8);
  --main-bg-search: rgb(255, 255, 255);
  --main-bg-hints: rgb(247, 247, 247);
  --main-bg-selector-1: rgb(192, 254, 207);
  --main-bg-selector-2: rgb(30, 213, 169);
  --main-bg-slider: rgb(1, 180, 228);
  --main-bg-button-circle: rgb(30, 178, 166, 0.7);
  --main-bg-button-search: rgb(151, 87, 87);
  --main-bg-button-movie: rgb(30, 178, 166);
  --main-bg-button-selected: linear-gradient(
    to right,
    #ffffff 0%,
    #e4e4e4 100%
  );
  --main-bg-cards-scrollbar: linear-gradient(
    90deg,
    rgb(33, 158, 183),
    rgb(186, 46, 46)
  );
  --main-bg-scrollbar: linear-gradient(
    180deg,
    rgb(254, 102, 102),
    rgb(195, 125, 195)
  );
  --main-bg-movie-score: rgba(36, 157, 147, 0.7);
  --main-bg-person-card: rgba(118, 137, 181, 0.4);
  --main-bg-searched-card: rgb(153, 191, 204);

  /* text color */
  --main-text-color-light: white;
  --main-text-color-dark: black;
  --main-text-color-selected: rgb(0, 83, 136);
  --main-text-color-button-selected: linear-gradient(
    to right,
    #656565 0%,
    #494949 100%
  );
  --text-color-hints: black;

  /* border color */
  --main-border-color: rgb(220, 220, 220);
  --hints-border-color: rgb(220, 220, 220);

  /* padding measures */
  --padding-sides-main: 5rem;
  --padding-left-side-main: var(--padding-sides-main);
  --padding-right-side-main: var(--padding-sides-main);
  --card-border-radius: 8px;
  --page-margin-top: 10rem;
  --page-max-width: 130rem;

  /* box-shadows color */
  --person-card-box-shadow-color: rgba(0, 0, 0, 0.3);
  --button-biography-box-shadow-color: rgba(0, 0, 0, 0.2);
}

.dark {
  --main-bg-image: linear-gradient(90deg, rgb(25, 25, 25), rgb(22, 22, 22));
  --main-bg-scroll: rgb(22, 22, 22);
  --main-bg-movie-score: rgba(96, 96, 96, 0.6);
  --main-bg-button-movie: rgb(93, 93, 93);
  --main-bg-person-card: rgb(43, 42, 42);
  --main-bg-searched-card: rgb(37, 37, 37);
  --main-bg-hints: rgb(51, 51, 51);
  --main-bg-button-search: rgb(111, 32, 32);
  --main-bg-score: rgba(123, 123, 123, 0.8);
  --main-bg-cards-scrollbar: linear-gradient(
    90deg,
    rgb(130, 34, 34),
    rgb(52, 42, 119)
  );
  --main-bg-scrollbar: linear-gradient(
    180deg,
    rgb(144, 192, 255),
    rgb(255, 157, 157)
  );

  --main-text-color-selected: rgb(110, 204, 255);
  --text-color-hints: white;
  --person-card-box-shadow-color: rgb(0, 0, 0, 0.6);
  --button-biography-box-shadow-color: rgba(0, 0, 0, 0.6);
  --hints-border-color: rgb(93, 93, 93);
}

@media screen and (max-width: 700px) {
  :root {
    --padding-sides-main: 2rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --padding-sides-main: 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --padding-sides-main: 1rem;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  color: var(--main-text-color-light);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-image: var(--main-bg-image);
}

body::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

body::-webkit-scrollbar-track {
  background-color: var(--main-bg-scroll);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.9);
  background: var(--main-bg-scrollbar);
}

.selected {
  width: 100%;
  background: var(--main-text-color-button-selected);
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selected div {
  background: var(--main-bg-button-selected);
  position: absolute;
  top: -1;
  left: 0;
  border-radius: 30px;
  height: 106%;
  width: 102%;
  z-index: -1;
}

.hidden {
  display: none;
}

.mobile-active {
  left: 0 !important;
}

.fade-out::after {
  opacity: 0;
}
