@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-size: 62.5%;

  --main-bg-image: linear-gradient(90deg, #a9d0d6, #8dcbd6);
  --main-bg-header: rgba(255, 255, 255, 0.1);
  --main-bg-score: rgba(30, 178, 166, 0.8);
  --main-bg-footer: rgb(3, 37, 65);
  --main-bg-search: rgb(255, 255, 255);
  --main-bg-hints: rgb(247, 247, 247);
  --main-bg-selector-1: rgb(192, 254, 207);
  --main-bg-selector-2: rgb(30, 213, 169);
  --main-bg-slider: rgb(1, 180, 228);
  --main-bg-button-circle: rgb(30, 178, 166, 0.7);
  --main-bg-button-search: rgb(30, 178, 166);
  --main-bg-button-selected: linear-gradient(
    to right,
    #ffffff 0%,
    #e4e4e4 100%
  );
  --main-text-color-light: white;
  --main-text-color-dark: black;
  --main-text-color-button-selected: linear-gradient(
    to right,
    #656565 0%,
    #494949 100%
  );
  --main-border-color: rgb(220, 220, 220);

  --padding-sides-main: 5rem;
  --padding-left-side-main: var(--padding-sides-main);
  --padding-right-side-main: var(--padding-sides-main);
  --card-border-radius: 8px;
  --container-max-width: 125rem;
}

.dark {
  --main-bg-image: linear-gradient(90deg, #191919, #161616);
}

@media screen and (max-width: 700px) {
  :root {
    --padding-sides-main: 2rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --padding-sides-main: 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --padding-sides-main: 1rem;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  color: var(--main-text-color-light);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-image: var(--main-bg-image);
}

.selected {
  width: 100%;
  background: var(--main-text-color-button-selected);
  background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selected div {
  background: var(--main-bg-button-selected);
  position: absolute;
  top: -1;
  left: 0;
  border-radius: 30px;
  height: 106%;
  width: 102%;
  z-index: -1;
}

.hidden {
  display: none;
}

.mobile-active {
  left: 0 !important;
}

.u-margin-top-big {
  margin-top: 3rem;
}

.fade-out::after {
  opacity: 0;
}
