@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  font-size: 62.5%;

  /* background */
  --main-bg-image: linear-gradient(90deg, rgb(113, 153, 204), rgb(202, 95, 95));
  --main-bg-scroll: rgb(202, 95, 95);
  --main-bg-header: rgba(255, 255, 255, 0.1);
  --main-bg-mobile-navigation: linear-gradient(
    90deg,
    rgb(115 142 147 / 30%),
    rgb(117 169 179 / 30%)
  );
  --main-bg-score: rgba(114, 130, 165, 0.8);
  --main-bg-search: rgb(255, 255, 255);
  --main-bg-hints: rgb(247, 247, 247);
  --main-bg-selector-1: rgb(192, 254, 207);
  --main-bg-selector-2: rgb(30, 213, 169);
  --main-bg-slider: rgb(1, 180, 228);
  --main-bg-button-circle: rgb(30, 178, 166, 0.7);
  --main-bg-button-search: rgb(151, 87, 87);
  --main-bg-button-movie: rgb(30, 178, 166);
  --main-bg-button-selected: linear-gradient(
    to right,
    #ffffff 0%,
    #e4e4e4 100%
  );
  --main-bg-cards-scrollbar: linear-gradient(
    90deg,
    rgb(33, 158, 183),
    rgb(186, 46, 46)
  );
  --main-bg-scrollbar: linear-gradient(
    180deg,
    rgb(254, 102, 102),
    rgb(195, 125, 195)
  );
  --main-bg-movie-score: rgba(36, 157, 147, 0.7);
  --main-bg-person-card: rgba(118, 137, 181, 0.4);
  --main-bg-searched-card: rgb(153, 191, 204);
  --main-bg-no-image: rgb(217, 217, 217);
  --main-bg-movie-button: rgba(255, 255, 255, 0.7);
  --main-bg-movie-icon: rgba(0, 0, 0);
  --main-bg-last-season-card: rgba(0, 0, 0, 0.05);
  --main-bg-last-season-button: rgb(113, 153, 204);
  --main-bg-credits-card: rgba(189, 136, 182, 1);
  --main-bg-credits-sort: rgb(131, 131, 131);
  --main-bg-credits-category: rgb(255, 255, 255);
  --main-bg-crew-card: rgba(108, 48, 48, 0.1);
  --main-bg-upcoming-scrollbar: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgb(217, 217, 217)
  );
  --main-bg-crew-scrollbar: linear-gradient(
    180deg,
    rgb(195, 90, 90),
    rgb(176, 155, 155)
  );
  --main-bg-person-card-name: rgba(0, 20, 173, 0.4);
  --main-bg-benefits: rgba(0, 0, 0, 0.2);
  --bg-account-menu: rgb(136, 64, 74);
  --bg-account-list: rgb(102, 51, 58);

  /* text color */
  --main-text-color-light: white;
  --main-text-color-dark: black;
  --main-text-color-selected: rgb(0, 83, 136);
  --main-text-color-button-selected: linear-gradient(
    to right,
    #656565 0%,
    #494949 100%
  );
  --text-color-hints: black;
  --card-text-hover: rgb(109, 525, 245);
  --text-color-credits-category: black;

  /* border color */
  --main-border-color: rgb(220, 220, 220);
  --hints-border-color: rgb(220, 220, 220);
  --border-credits-card: rgba(0, 0, 0, 0.2);
  --border-crew-color: rgba(255, 255, 255, 0.3);

  /* padding measures */
  --padding-sides-main: 5rem;
  --padding-left-side-main: var(--padding-sides-main);
  --padding-right-side-main: var(--padding-sides-main);
  --card-border-radius: 8px;
  --page-margin-top: 10rem;
  --page-max-width: 130rem;

  /* Dimensions */
  --card-movie-height: 220px;
  --card-movie-width: 147px;
  --card-person-height: 200px;
  --card-person-width: 133px;
  --video-height: 222px;
  --video-width: 350px;
  --company-image-width: 120px;
  --company-image-max-height: 120px;

  /* box-shadows color */
  --person-card-box-shadow-color: rgba(0, 0, 0, 0.3);
  --button-biography-box-shadow-color: rgba(0, 0, 0, 0.2);
  --last-season-box-shadow-color: rgba(0, 0, 0, 0.15);
  --upcoming-card-box-shadow: rgba(0, 0, 0, 0.2);
  --person-card-picture-box-shadow: rgb(255, 255, 255);
}

.dark {
  --main-bg-image: linear-gradient(90deg, rgb(25, 25, 25), rgb(22, 22, 22));
  --main-bg-scroll: rgb(22, 22, 22);
  --main-bg-movie-score: rgba(96, 96, 96, 0.6);
  --main-bg-button-movie: rgb(93, 93, 93);
  --main-bg-person-card: rgb(43, 42, 42);
  --main-bg-searched-card: rgb(37, 37, 37);
  --main-bg-hints: rgb(51, 51, 51);
  --main-bg-button-search: rgb(111, 32, 32);
  --main-bg-score: rgba(123, 123, 123, 0.8);
  --main-bg-cards-scrollbar: linear-gradient(
    90deg,
    rgb(130, 34, 34),
    rgb(52, 42, 119)
  );
  --main-bg-scrollbar: linear-gradient(
    180deg,
    rgb(144, 192, 255),
    rgb(255, 157, 157)
  );
  --main-bg-crew-scrollbar: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgb(217, 217, 217)
  );
  --main-bg-movie-button: rgba(0, 0, 0, 0.6);
  --main-bg-movie-icon: rgba(255, 255, 255);
  --main-bg-last-season-card: rgba(130, 130, 130, 0.05);
  --main-bg-last-season-button: rgba(57, 57, 57, 0.75);
  --main-bg-credits-card: rgba(255, 255, 255, 0.06);
  --main-bg-credits-sort: rgb(52, 52, 52);
  --main-bg-credits-category: rgb(155, 155, 155);
  --main-bg-crew-card: rgb(36, 36, 36);
  --main-bg-person-card-name: rgba(255, 255, 255, 0.15);
  --main-bg-benefits: rgba(255, 255, 255, 0.05);
  --bg-account-menu: rgb(87, 34, 40);
  --bg-account-list: rgb(129, 84, 88);

  --main-text-color-selected: rgb(110, 204, 255);
  --text-color-credits-category: white;
  --text-color-hints: white;
  --person-card-box-shadow-color: rgb(0, 0, 0, 0.6);
  --button-biography-box-shadow-color: rgba(0, 0, 0, 0.6);
  --hints-border-color: rgb(93, 93, 93);
  --card-text-hover: rgb(255, 144, 144);
  --last-season-box-shadow-color: rgba(0, 0, 0, 0.3);
  --border-credits-card: rgb(152, 152, 152);
  --upcoming-card-box-shadow: rgba(0, 0, 0, 0.8);
  --border-crew-color: rgba(81, 81, 81, 1);
  --person-card-picture-box-shadow: rgba(255, 255, 255, 0.4);
}

@media screen and (max-width: 700px) {
  :root {
    --padding-sides-main: 2rem;
  }
}

@media screen and (max-width: 500px) {
  :root {
    --padding-sides-main: 1.8rem;
  }
}

@media screen and (max-width: 400px) {
  :root {
    --padding-sides-main: 1rem;
  }
}

*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  transition: background-image 0.5s ease-in-out,
    background-color 0.5s ease-in-out;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  color: var(--main-text-color-light);
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  background-image: var(--main-bg-image);
}

body::-webkit-scrollbar {
  width: 10px;
  height: 0px;
}

body::-webkit-scrollbar-track {
  background-color: var(--main-bg-scroll);
}

body::-webkit-scrollbar-thumb {
  border-radius: 5px;
  box-shadow: inset 1px 1px 10px rgba(0, 0, 0, 0.9);
  background: var(--main-bg-scrollbar);
}

.selected {
  width: 100%;
  background: var(--main-text-color-button-selected);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.selected div {
  background: var(--main-bg-button-selected);
  position: absolute;
  top: -1;
  left: 0;
  border-radius: 30px;
  height: 106%;
  width: 102%;
  z-index: -1;
}

.hidden {
  display: none;
}

.mobile-active {
  left: 0 !important;
}

.fade-out::after {
  opacity: 0;
}

.presentation__layout {
  margin-top: var(--page-margin-top);
}

.presentation__layout > div {
  display: flex;
  gap: 20px;
}
