:root {
  --padding-sides-main: 5rem;
  --padding-left-side-main: var(--padding-sides-main);
  --padding-right-side-main: var(--padding-sides-main);
  --card-border-radius: 8px;

  --font-color-light: white;
  --font-color-dark: black;
  --header-bg-dark: rgb(3, 37, 65);
  --header-bg-light: rgb(255, 255, 255);
  --mobile-menu-bg-dark: rgba(3, 37, 65, 0.9);
  --menu-extras-bg-light: rgb(237, 237, 237);
  --footer-bg-dark: rgb(3, 37, 65);
  --footer-bg-light: rgb(255, 255, 255);
  --light-green: rgb(30, 213, 169);
  --light-blue: rgb(1, 180, 228);
  --selector-bg-green--lighter: rgb(192, 254, 207);
  --selector-bg-green--light: rgb(30, 213, 169);
  --border-bottom-search-light: rgb(220, 220, 220);
  --hints-bg-light: rgb(247, 247, 247);

  --container-max-width: 125rem;

  @media screen and (max-width: 700px) {
    --padding-sides-main: 2rem;
  }

  @media screen and (max-width: 500px) {
    --padding-sides-main: 1.8rem;
  }

  @media screen and (max-width: 400px) {
    --padding-sides-main: 1rem;
  }
}

.card {
  max-width: min-content;
  position: relative;
  border-radius: var(--card-border-radius);
  overflow: hidden;

  &__overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(20px);
    padding: 1rem;
    z-index: 1;
  }

  &__circle {
    position: absolute;
    top: 10px;
    right: 10px;
    height: 3rem;
    width: 3rem;
  }

  &__button {
    position: relative;
    height: 100%;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.3);
    border: none;
    border-radius: 50%;
    cursor: pointer;

    &:hover {
      background-color: rgb(148, 51, 239);
    }
  }

  &__dots {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    color: white;

    i {
      font-size: 4px;
    }
  }

  &__image {
    height: 22rem;
    border-radius: var(--card-border-radius);
    overflow: hidden;
    cursor: pointer;

    img {
      display: inline-block;
      height: 100%;
      // width: 100%;
    }
  }

  &__image-anchor {
    display: inline-block;
    height: 100%;
    width: 100%;
  }

  &__content {
    position: relative;
    color: black;
    padding-top: 2.5rem;
  }

  &__score {
    position: absolute;
    top: -20px;
    left: 10px;
    background-color: var(--header-bg-dark);
    padding: 10px;
    border-radius: 50%;
    color: white;
    height: 4rem;
    width: 4.2rem;
    text-align: center;
  }

  &__title {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &__title-anchor {
    &:link,
    &:visited {
      color: black;
      text-decoration: none;
    }

    &:hover {
      color: rgb(148, 51, 239);
    }
  }

  &__date {
    color: rgb(168, 168, 168);
    font-size: 1.4rem;
    margin-top: 2px;
  }
}
